[Desktop Entry]
Version=1.0
Type=Application
Name=CertStudy
GenericName=Exam Prep Tool
Comment=Nutanix Certification Exam Prep
Exec=CertStudy %f
Icon=app.certstudy.CertStudy
Terminal=false
Categories=Education;Science;
MimeType=text/markdown;
Keywords=nutanix;certification;exam;study;quiz;nca;ncp;ncm;
StartupWMClass=CertStudy
StartupNotify=true
